@charset "UTF-8";
/* 
Основная политра
Основной цвет текста-#757575 
Цвет заголовков-#212121
Цвет подписи-#FFFFFF
Цвет анимации - #2196f3
Цвет логотипа - #000000
 - #F5F4FA
 background: #E5E5E5;
 border color - #eeeeee
 */
:root {
  --main-text-color: #757575;
  --header-color: #212121;
  --main-header-color: #ffffff;
  --animation-color: #2196f3;
  --logo-color: #000000;
  --bg-color: #f5f4fa;
  --animation-botton-color: #188ce8;
  --footer-bg-color: #2f303a;
  --bg-color-portfolio: #e5e5e5;
  --border-color: #eeeeee;
  --indent-30px: 30px;
  --attention-grid-item: 4;
  --client-grid-item: 6;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  margin: 0;
  color: var(--main-text-color);
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
}

.links {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div {
  margin: 0;
}

p {
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  color: var(--header-color);
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  color: var(--header-color);
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .header {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.logo__beginning {
  color: var(--animation-color);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
    overflow-y: scroll;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  /* justify-content: center; */
  padding: 40px;
  z-index: 1000;
  position: absolute;
  overflow: auto;
  background-color: var(--main-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .modal {
    width: calc(100% - 30px);
    max-height: 608px;
    height: 85vh;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1199px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 608px;
    height: 85vh;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal__close-btn {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: var(--main-header-color);
  cursor: pointer;
}

.modal__close-btn-img {
  width: 11px;
  height: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal__close-btn:hover .modal__close-btn-img,
.modal__close-btn:focus .modal__close-btn-img {
  fill: var(--animation-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form__paragraph {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.modal-form__input-description {
  font-size: 12px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form__input-box {
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal-form__input:focus {
  outline: none;
  border: 1px solid var(--animation-botton-color);
}

.modal-form__input:focus + .modal-input-svg-men {
  fill: var(--animation-color);
}

.modal-form__input:focus + .modal-input-svg-telephone {
  fill: var(--animation-color);
}

.modal-form__input:focus + .modal-input-svg-mail {
  fill: var(--animation-color);
}

.modal-form__box {
  width: 100%;
  margin-bottom: 10px;
}

.modal-input-svg-men {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  height: 12px;
  width: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal-input-svg-telephone {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  height: 13px;
  width: 13px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal-input-svg-mail {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal-form__box-textarea {
  width: 100%;
  margin-bottom: 20px;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  /* margin-bottom: 20px; */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.modal-form__textarea:focus {
  outline: none;
  border: 1px solid var(--animation-botton-color);
}

.modal-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__check-desc {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-form__check-desc::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid var(--header-color);
  border-radius: 2px;
  transition-property: border-color, background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  /* background-image: url("../img/index/modal/check.svg"); */
  background-size: cover;
}

.modal-form__check:checked + .modal-form__check-desc::before {
  border-color: var(--animation-color);
  background-image: url("../img/index/modal/check.svg");
}

.modal-form__btn {
  max-height: 50px;
  padding: 10px 55px;
  background: var(--animation-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  /* display: flex;
align-items: center;
text-align: center; */
  letter-spacing: 0.06em;
  color: var(--main-header-color);
}

.header-nav {
  border-bottom: 1px solid #ececec;
}

.header-nav__main-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav__main-nav {
    max-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__main-nav {
    max-height: 80px;
  }
}

.site-nav {
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .site-nav-box {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-box {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contacts-nav-box {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav-box {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav-box {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav {
    display: flex;
    margin-left: auto;
  }
}

/* Логотип */
.header-nav__logo {
  display: block;
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .header-nav__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__logo {
    margin-right: 88px;
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.2;
  }
}

/* Навигация страницы */
.site-nav__link {
  display: block;
  padding-top: 32px;
  /* padding-bottom: 32px;   */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--animation-color);
}

.site-nav__link::after {
  content: "";
  opacity: 0;
  display: block;
  width: 100%;
  height: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  border-radius: 2px;
  background-color: #2196f3;
  margin-top: 28px;
  margin-bottom: 0px;
}

.site-nav__link:hover.site-nav__link::after,
.site-nav__link:focus.site-nav__link::after {
  opacity: 1;
}

.site-nav__link-active {
  color: var(--animation-color);
}

.site-nav__link-active::after {
  content: "";
  opacity: 1;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  margin-top: 28px;
  margin-bottom: 0px;
}

/* Контакты  */
.contacts-nav__link {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: var(--main-text-color);
  font-weight: 500;
}

@media screen and (max-width: 1199px) {
  .contacts-nav__link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: var(--animation-color);
}

@media screen and (min-width: 768px) {
  .contacts-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacts-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-nav__img-envelope {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .contacts-nav__img-envelope {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav__img-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.contact-link-tel {
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.contact-link-tel:hover, .contact-link-tel:focus {
  color: var(--animation-color);
}

.contacts-nav__img-tel {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .contacts-nav__img-tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav__img-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    margin-left: auto;
    z-index: 1001;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__btn-icon-menu {
  height: 17px;
  width: 24px;
}

.mobile-menu__btn-icon-close {
  display: none;
  max-height: 18px;
  width: 18px;
}

.mobile-menu__btn.is-open .mobile-menu__btn-icon-close {
  display: block;
}

.mobile-menu__btn.is-open .mobile-menu__btn-icon-menu {
  display: none;
}

.mobile-menu__container {
  width: 100%;
}

.mobile-menu {
  display: none;
  padding-top: 48px;
  padding-left: 24px;
  padding-bottom: 48px;
  height: 100vh;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  z-index: 1000;
  background-color: var(--main-header-color);
  overflow-y: scroll;
}

.mobile-menu.is-open {
  display: block;
}

.mobile-menu__list {
  margin-bottom: 300px;
}

.mobile-menu__list-item:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-menu__nav-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--animation-color);
}

.mobile-menu__nav-link-active {
  color: var(--animation-color);
}

.mobile-menu__contact-list {
  margin-bottom: 64px;
}

.mobile-menu__contact-list-item-tel {
  margin-bottom: 32px;
}

.mobile-menu__contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--animation-color);
}

.mobile-menu__contact-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-menu__network-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__network-list-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-menu__network-list-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__network-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--animation-color);
}

.hero {
  text-align: center;
  background-color: var(--logo-color);
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.bg-img {
  /* max-width: 1600px; */
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .bg-img {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .bg-img {
    height: 600px;
  }
}

@media screen and (max-width: 767px) {
  .bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/photo-jpg/hero/jpg/bg-mobile.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/photo-jpg/hero/jpg/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/photo-jpg/hero/jpg/bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/photo-jpg/hero/jpg/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/photo-jpg/hero/jpg/bg-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/photo-jpg/hero/jpg/bg-desktop@2x.jpg);
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--indent-30px);
  margin-top: 0;
  color: var(--main-header-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .hero__title {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 2.6;
  }
}

@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  background-color: var(--animation-color);
  color: var(--main-header-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--animation-botton-color);
}

@media screen and (min-width: 768px) {
  .attention {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--indent-30px));
    margin-top: calc(-1 * var(--indent-30px));
  }
}

@media screen and (max-width: 1199px) {
  .attention__item {
    margin-top: var(--indent-30px);
    margin-left: var(--indent-30px);
    flex-basis: calc((100% - var(--indent-30px) * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .attention__item {
    flex-basis: calc( (100% - var(--indent-30px) * var(--attention-grid-item)) / var(--attention-grid-item));
    margin-top: var(--indent-30px);
    margin-left: var(--indent-30px);
  }
}

.attention__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .attention__box {
    height: 120px;
  }
}

.attention__icon {
  width: 70px;
  height: 70px;
}

/* .attention-item::before {
  content: '';
  display: block;
  
  margin-bottom: var(--indent-30px);
  background-repeat: no-repeat;
  background-position: center;
  b
  
}

.icon-1::before {
  background-image: url(../img/index/attention/img-1.svg);
}

.icon-2::before {
  background-image: url(../img/index/attention/img-2.svg);
}

.icon-3::before {
  background-image: url(../img/index/attention/img-3.svg);
}

.icon-4::before {
  background-image: url(../img/index/attention/img-4.svg);
} */
.attention__describtion {
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  .attention__header-mobile {
    text-align: center;
  }
}

.attention__header {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.attention__paragraph {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .attention__paragraph {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .attention__paragraph {
    width: 270px;
  }
}

.doing-section {
  padding-top: 94px;
}

@media screen and (max-width: 1199px) {
  .doing-section {
    display: none;
  }
}

.doing {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--indent-30px));
  margin-top: calc(-1 * var(--indent-30px));
}

.doing__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-basis: calc( (100% - var(--indent-30px) * var(--attention-grid-item)) / var(--attention-grid-item));
  margin-top: var(--indent-30px);
  margin-left: var(--indent-30px);
}

.doing__header {
  position: absolute;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  color: var(--main-header-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--bg-color);
}

.team__header {
  color: var(--header-color);
  font-weight: bold;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .team__header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .team__header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--indent-30px));
    margin-top: calc(-1 * var(--indent-30px));
  }
}

.cards__item {
  background-color: var(--main-header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .cards__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .cards__item {
    flex-basis: calc( (100% - var(--indent-30px) * var(--attention-grid-item)) / var(--attention-grid-item));
    margin-top: var(--indent-30px);
    margin-left: var(--indent-30px);
  }
}

.img-members {
  display: block;
}

@media screen and (max-width: 767px) {
  .img-members {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .img-members {
    width: 270;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards__item-img {
    width: 354px;
    max-height: 374px;
  }
}

.cards__box {
  padding-bottom: var(--indent-30px);
  padding-top: var(--indent-30px);
}

.cards__header {
  margin-bottom: 10px;
  color: var(--header-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.cards__paragraph {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.networks-box {
  display: flex;
  justify-content: center;
}

.networks-box__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: #afb1b8;
  border-radius: 50%;
}

.networks-box__link:hover, .networks-box__link:focus {
  color: var(--main-header-color);
  background-color: var(--animation-color);
}

.networks-box__link-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.networks-box__item:not(:last-child) {
  margin-right: 10px;
}

.client-list {
  margin-left: calc(-1 * var(--indent-30px));
  margin-top: calc(-1 * var(--indent-30px));
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .client-list {
    width: 1200px;
  }
}

.client-list__item {
  color: #afb1b8;
  min-height: 92px;
  margin-top: var(--indent-30px);
  margin-left: var(--indent-30px);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  /* flex-basis: calc(100% / 6 - 32px); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media screen and (max-width: 767px) {
  .client-list__item {
    flex-basis: calc((100% - (var(--indent-30px) + 2px) * 2) / 2);
  }
}

@media screen and (min-width: 768px) {
  .client-list__item {
    flex-basis: calc((100% - (var(--indent-30px) + 2px) * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item {
    flex-basis: calc( (100% - (var(--indent-30px) + 2px) * var(--client-grid-item)) / var(--client-grid-item));
  }
}

/* .client-list-item:hover,
.client-list-item:focus {
  color: var(--animation-color);
  border-color: var(--animation-color);
} */
.client-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 106px;
  height: 60px; */
  color: inherit;
  border: 1px solid #afb1b8;
}

.client-list__link:hover, .client-list__link:focus {
  color: var(--animation-color);
  border-color: var(--animation-color);
}

.client-list__link-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box-tablet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box-tablet {
    display: flex;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-header-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer-box__item-address {
  display: block;
  margin-bottom: 9px;
  color: var(--main-header-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__email {
  margin-bottom: 9px;
}

.footer__contacts {
  color: #ffffff99;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer-box {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer-box__item {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box__item {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer__networks-box {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__networks-box {
    margin-right: 94px;
  }
}

.footer__networks-box-paragraph {
  margin-bottom: 20px;
  color: var(--main-header-color);
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .footer__networks-box-paragraph {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__networks-box-paragraph {
    text-align: center;
  }
}

.footer-networks {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-networks {
    display: flex;
  }
}

/* .footer-network-item {
  width: 44px;
  height: 44px;
}  */
/* .network::before {
  content: '';
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
} */
.footer-network__item {
  display: inline-block;
}

.footer-network__item-network {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-header-color);
}

.footer-network__item-network:hover, .footer-network__item-network:focus {
  background-color: var(--animation-color);
}

.footer-network__item-network-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-network__item:not(:last-child) {
  margin-right: 10px;
}

/* Форма в футере */
/* .footer-form {
  min-width: ;
} */
@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
  }
}

.footer-form__header {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-header-color);
}

@media screen and (min-width: 1200px) {
  .footer-form__box {
    display: flex;
    text-align: center;
  }
}

.footer-form__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: #afb1b8;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

@media screen and (max-width: 767px) {
  .footer-form__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form__input:focus {
  outline: none;
  border-color: var(--animation-color);
}

.footer-form__btn {
  min-height: 50px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--animation-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  /* transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0; */
  color: var(--main-header-color);
}

@media screen and (max-width: 1199px) {
  .footer-form__btn {
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-form__btn-paragraph {
  margin-right: 10px;
}

.footer-form__btn-icon {
  width: 24px;
  height: 24px;
  /* vertical-align: middle; */
}

.nav-active-portfolio {
  color: var(--animation-color);
}

.gallery__filter {
  display: flex;
}

@media screen and (max-width: 767px) {
  .gallery__filter {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .gallery__filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__filter {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.filter__button {
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  background-color: var(--bg-color);
  color: var(--header-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--animation-color);
  color: var(--main-header-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--indent-30px));
    margin-left: calc(-1 * var(--indent-30px));
  }
}

.gallery__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

@media screen and (max-width: 767px) {
  .gallery__item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .gallery__item {
    flex-basis: calc((100% - var(--indent-30px) * 2) / 2);
    margin-top: var(--indent-30px);
    margin-left: var(--indent-30px);
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc((100% - var(--indent-30px) * 3) / 3);
    margin-top: var(--indent-30px);
    margin-left: var(--indent-30px);
  }
}

.gallery__item:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__item-img-box {
  border: 1px solid #eeeeee;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.gallery__item:hover .gallery__item-img-box {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.gallery__item-img-box {
  position: relative;
  overflow: hidden;
}

.gallery__item-img-box-paragraph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  /* transition: transform 250ms linear; */
  padding: 63px 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-header-color);
}

.gallery__item:hover .gallery__item-img-box-paragraph {
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .gallery__item-img-box-img {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .gallery__item-img-box-img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item-img-box-img {
    width: 100%;
  }
}

.gallery__item-box {
  padding: 20px 24px;
}

.gallery__item-box-header {
  margin-bottom: 4px;
  color: var(--header-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__item-box-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */