.client-list {
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  margin-left: calc(-1 * var(--indent-30px));
  margin-top: calc(-1 * var(--indent-30px));
  display: flex;
  flex-wrap: wrap;
}

.client-list__item {
  color: #afb1b8;
  min-height: 92px;
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - (var(--indent-30px) + 2px) * 2) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(
      (100% - (var(--indent-30px) + 2px) * var(--client-grid-item)) /
        var(--client-grid-item)
    );
  }
  margin-top: var(--indent-30px);
  margin-left: var(--indent-30px);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  /* flex-basis: calc(100% / 6 - 32px); */

  /* display: flex;
  justify-content: center;
  align-items: center; */
}
/* .client-list-item:hover,
.client-list-item:focus {
  color: var(--animation-color);
  border-color: var(--animation-color);
} */

.client-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 106px;
  height: 60px; */
  color: inherit;
  border: 1px solid #afb1b8;
  &:hover,
  &:focus {
    color: var(--animation-color);
    border-color: var(--animation-color);
  }
}

.client-list__link-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
