.doing-section {
  padding-top: 94px;
  @media screen and(max-width: 795px) {
    display: none;
  }
}

.doing {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--indent-30px));
  margin-top: calc(-1 * var(--indent-30px));
}

.doing__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  flex-basis: calc(
    (100% - var(--indent-30px) * var(--attention-grid-item)) /
      var(--attention-grid-item)
  );
  margin-top: var(--indent-30px);
  margin-left: var(--indent-30px);
}

.doing__header {
  position: absolute;
  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
  color: var(--main-header-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
