.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer-box-tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--main-header-color);

  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer-box__item-address {
  display: block;
  margin-bottom: 9px;

  color: var(--main-header-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__email {
  margin-bottom: 9px;
}

.footer__contacts {
  color: #ffffff99;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-box {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-box__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    text-align: center;
  }
  //  @media screen and (max-width: 1199px) {

  // }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__networks-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 94px;
  }
}

.footer__networks-box-paragraph {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  margin-bottom: 20px;
  color: var(--main-header-color);

  text-transform: uppercase;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-networks {
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    // margin-right: auto;
    // margin-left: auto;
  }
}

/* .footer-network-item {
  width: 44px;
  height: 44px;
}  */

/* .network::before {
  content: '';
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
} */

.footer-network__item {
  display: inline-block;
}

.footer-network__item-network {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-header-color);

  &:hover,
  &:focus {
    background-color: var(--animation-color);
  }
}

.footer-network__item-network-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-network__item:not(:last-child) {
  margin-right: 10px;
}

/* Форма в футере */

/* .footer-form {
  min-width: ;
} */

.footer-form {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer-form__header {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-header-color);
}

.footer-form__box {
  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
  }
}

.footer-form__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  color: #afb1b8;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg-color);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  &:focus {
    outline: none;
    border-color: var(--animation-color);
  }
}

.footer-form__btn {
  min-height: 50px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
  }

  background: var(--animation-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  //   &:hover {
  //     cursor: pointer;
  //   }

  /* transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0; */

  color: var(--main-header-color);
}

.footer-form__btn-paragraph {
  margin-right: 10px;
}

.footer-form__btn-icon {
  width: 24px;
  height: 24px;
  /* vertical-align: middle; */
}
