.gallery__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--indent-30px));
    margin-left: calc(-1 * var(--indent-30px));
  }
}

.gallery__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - var(--indent-30px) * 2) / 2);
    margin-top: var(--indent-30px);
    margin-left: var(--indent-30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - var(--indent-30px) * 3) / 3);
    margin-top: var(--indent-30px);
    margin-left: var(--indent-30px);
  }
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover {
    box-sizing: border-box;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.gallery__item-img-box {
  //   padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  .gallery__item:hover & {
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }
}

.gallery__item-img-box {
  position: relative;
  overflow: hidden;
}

.gallery__item-img-box-paragraph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  /* transition: transform 250ms linear; */
  padding: 63px 24px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-header-color);

  .gallery__item:hover & {
    transform: translateY(0%);
  }
}

.gallery__item-img-box-img {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.gallery__item-box {
  padding: 20px 24px;

  //   max-width: 370px;
}

.gallery__item-box-header {
  margin-bottom: 4px;

  color: var(--header-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__item-box-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
