.team {
  background-color: var(--bg-color);
}

.team__header {
  @media screen and (max-width: 795px) {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.2;
    text-align: center;
  }

  color: var(--header-color);

  font-weight: bold;
  letter-spacing: 0.03em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    margin-left: calc(-1 * var(--indent-30px));
    margin-top: calc(-1 * var(--indent-30px));
  }
}

.cards__item {
  @media screen and (max-width: 795px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(
      (100% - var(--indent-30px) * var(--attention-grid-item)) /
        var(--attention-grid-item)
    );

    margin-top: var(--indent-30px);
    margin-left: var(--indent-30px);
  }

  background-color: var(--main-header-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-members {
  display: block;
}

.cards__box {
  padding-bottom: var(--indent-30px);
  padding-top: var(--indent-30px);
}

.cards__header {
  margin-bottom: 10px;

  color: var(--header-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.cards__paragraph {
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.networks-box {
  display: flex;
  justify-content: center;
}

.networks-box__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  color: #afb1b8;
  border-radius: 50%;
  &:hover,
  &:focus {
    color: var(--main-header-color);
    background-color: var(--animation-color);
  }
}

.networks-box__link-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.networks-box__item:not(:last-child) {
  margin-right: 10px;
}
