.modal {
  /* justify-content: center; */
  padding: 40px;
  z-index: 1000;
  position: absolute;
  overflow: auto;
  @media screen and(max-width: 480px) {
    width: calc(100% - 30px);
    max-height: 608px;
    height: 85vh;
  }
  @media screen and(max-width: 767px) {
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and(max-width: 1199px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 608px;
    height: 85vh;
  }

  @media screen and(min-width: 1200px) {
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  background-color: var(--main-header-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: var(--main-header-color);
  cursor: pointer;
}

.modal__close-btn-img {
  width: 11px;
  height: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--animation-color);
  }
}
